* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    background: #1b2127;
    max-width: 1200px;
    margin: 0 auto;
}


/*iconos*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?klzvx0');
    src: url('../fonts/icomoon.eot?klzvx0#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?klzvx0') format('truetype'), url('../fonts/icomoon.woff?klzvx0') format('woff'), url('../fonts/icomoon.svg?klzvx0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-youtubekeloke:before {
    content: "\e902";
}

.icon-instakeloke:before {
    content: "\e903";
}

.icon-linkedinkeloke:before {
    content: "\e904";
}

.icon-twitterkeloke:before {
    content: "\e905";
}

.icon-facekeloke:before {
    content: "\e906";
}

.icon-facebook:before {
    content: "\e901";
}

.icon-menuburguer:before {
    content: "\e900";
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*equivalente a 20px*/
    background-color: rgba(0, 0, 0, 0.8);
    /*los colores van de 0 hasta 255*/
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 200;
    left: 12px;
    top: 12px;
    color: #fff;
    font-size: 24px;
}


/* /iconos*/

h1,
h2,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

.section-main p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    letter-spacing: -.2px;
}

header .logo-profile img {
    margin-left: 12px;
    width: 200px;
}


/*cambiar tamaño de las imagenes momentaneamente*/

.section-portafolio img,
.section-experience img,
.section-main img {
    width: 350px;
}

.section-portafolio {
    width: 100%;
    /* padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px; */
    padding: 0 80px 20px;
    background: #fafafa;
}

.section-portafolio .portafolio-title {
    font-size: 2.8rem;
    color: #87cc00;
    padding: 30px 0;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.project {
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5em;
    border-radius: 18px;
    margin-bottom: 30px;
    background: white;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.52);
}

.project .project-information {
    width: 50%;
    font-size: 1.6rem;
    /*FUENTE PRINCIPAL DE MIS PROYECTOS,16PX*/
}

.project .project-image-container {
    width: 50%;
}

.project .project-image-container img {
    width: 100%;
    max-width: 100%;
}

.project .project-information>* {
    margin-bottom: .8em;
}


/*FUENTES MI PROYECTOS*/

.project .project-information h2 {
    font-size: 2em;
    /* margin-bottom: 1rem; */
}

.project .project-information .project-course {
    font-size: 1.5em;
    /* margin-bottom: 1rem; */
}

.project .project-information .project-date {
    font-size: 1.4em;
    /* margin-bottom: 1rem; */
}

.project .project-information .project-url {
    font-size: 1.4em;
    /* margin-bottom: 1rem; */
}

.project .project-information p span {
    font-size: 1em;
    font-weight: bold;
}

.project .project-description {
    max-width: 100%;
    font-size: 1.25em;
    /* margin-bottom: 1rem; */
}

.project .project-url a {
    text-decoration: none;
}

.project .project-url a:hover {
    color: #87cc00;
    text-decoration-line: underline;
}

header {
    display: flex;
    justify-content: space-between;
    background: #1b2127;
    flex-wrap: wrap;
    padding: 10px 14px;
    /* margin-right: 80px;
    margin-left: 80px; */
}

header nav ul {
    list-style: none;
}

.nav-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main li {
    margin-left: 8px;
}

.nav-main li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    padding: 8px 20px;
}

.nav-main li a:hover {
    color: darkgreen;
}

header .nav-main li a.link-button-contact {
    border: 1px solid #fff;
    border-radius: 8px;
}

header .nav-main li a.link-button-contact:hover {
    background: #87cc00;
}

.section-main-container {
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* margin-right: 80px;
    margin-left: 80px; */
}

.section-main-container .developer-image {
    width: 450px;
    height: 100%;
}

.section-main-container .developer-image img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


/* 
.section-main .about-me {
    display: flex;
    align-items: center;
    height: 100%;
    background-image: url('./img/tinified/pexels-danny-meneses-943096.jpg');
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-right: 80px;
    margin-left: 80px;
    border-top: 1px solid #1b2127;
}
 */

.section-main .about-me {
    width: 420px;
    font-size: 1.6rem;
}

.section-main .about-me p {
    color: #fff;
    margin-left: 20px;
    font-size: 3.4rem;
}

.section-main .about-me p span {
    color: #87cc00;
}

.project figure img {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.footer {
    width: 100%;
    height: auto;
    background: #1b2127;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.6rem;
}

.footer .footer-course img {
    width: 5em;
}

.footer .footer-course {
    display: flex;
    height: inherit;
    align-items: center;
}

.footer .footer-course p {
    font-size: 1.125em;
    padding: 16px 4px 16px 20px;
}

.footer .footer-autor p {
    font-size: 1em;
    padding: 16px 20px 16px 4px;
}

.footer .footer-autor p a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.footer .footer-autor p a:hover {
    color: #87cc00;
    text-decoration-line: underline;
}

.section-experience .title-experience {
    font-size: 2.8rem;
    color: #87cc00;
    padding: 30px 0;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.section-experience {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
    background: #F3F3F3;
}

.section-experience article {
    width: 45%;
    height: auto;
    margin-bottom: 5%;
    border-radius: 16px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 6px 0.7px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 6px 0.7px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 6px 0.7px rgba(0, 0, 0, 0.32);
}

.section-experience .event-image-container {
    height: 40%;
    /* overflow-y: hidden; */
}

.section-experience .event-image-container img {
    width: 100%;
    max-height: 250px;
    object-position: 25% 80%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    object-fit: cover;
}


/*test*/

.section-experience .event-image-container video {
    width: 100%;
    max-height: 250px;
    object-position: 25% 80%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    object-fit: cover;
}

.section-experience .event .event-information {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    background: #F1F1F1;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    position: relative;
    bottom: 20px;
}

.section-experience .event-information .event-title {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.section-experience .event-information .event-description {
    color: #AFAFAF;
    line-height: 1.4;
    margin-bottom: 30px;
}

.section-experience .event-information .event-url {
    text-decoration-line: none;
    padding: 2% 20%;
    background: #fff;
    border: 2px solid #87cc00;
    font-size: 2.2rem;
    color: #87cc00;
    font-weight: bold;
    border-radius: 16px;
    position: absolute;
    bottom: 0;
    margin-bottom: 8%;
}

.section-experience .event-information .event-url:hover {
    background-color: #87cc00;
    color: #fff;
}

.experience-galery {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-contactos {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    color: #fff;
    background: #16c60c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.6rem;
}

.section-contactos .form-email {
    width: 60%;
}

.section-contactos .social-networks {
    width: 40%;
    text-align: right;
}

.section-contactos form,
.section-contactos div {
    padding: 12px;
}

.section-contactos .social-networks .social-media {
    text-decoration: none;
    display: inline-block;
    padding-right: 14px;
    /* border: 1px solid white; */
    /* width: 50px;
    height: 50px; */
    /* background-size: 50px 50px; */
}

.section-contactos .social-networks .social-media i {
    font-size: 30px;
    color: #2F6B21;
}

.section-contactos .social-networks .social-media i:hover {
    position: relative;
    bottom: 12px;
    color: #1b2127;
}

.social-networks .social-media.twiter {
    background-image: url('https://i.imgur.com/fRziT2q.png');
    /* background-size: 50px 50px; */
}

.social-networks .social-media.linkedin {
    background-image: url('https://i.imgur.com/Ri4v7AB.png');
    /* background-size: 50px 50px; */
}

.social-networks .social-media.instagram {
    background-image: url('https://i.imgur.com/GxGFFUz.png');
    /* background-size: 50px 50px; */
}

.social-networks .social-media.facebook {
    background-image: url('https://i.imgur.com/LgY5xSY.png');
    /* background-size: 50px 50px; */
}

.form-email h3 {
    font-size: 1.875em;
    margin-bottom: .8em;
    font-family: 'Source Sans Pro', sans-serif;
}

.form-email .email-user {
    width: auto;
    max-width: 100%;
    border: 2px solid gray;
    padding: 0.4em 2.375em;
    background-image: url('https://i.imgur.com/jbXFYmQ.png');
    background-size: 1.125em 0.9375em;
    /*ancho altura*/
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5em;
    font-size: 1.4em;
    margin-bottom: 1.25em;
    border-radius: 8px;
}

.form-email .button-form {
    display: block;
    padding: 0.5em 2.375em;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.125em;
    cursor: pointer;
    border-radius: 8px;
}

.form-email .button-form:hover {
    border-color: darkgreen;
    color: darkgreen
}

.video-keloke {
    width: 100%;
    height: auto;
    /* max-width: 100%; */
}

.youtube-video {
    position: absolute;
    /* width: 100%;
    height: 100% */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexvideo {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    /*resultado del calculo del video*/
}


/*MEDIA QUERIES*/


/*DESKTOP FIRST, ENTONCES EMPEZAMOS DESDE EL MEDIA QUERIE MAS GRANDE */

@media (max-width:1023px) {
    .project .project-information {
        flex-basis: 100%;
        text-align: center;
    }
    .project .project-image-container {
        flex-basis: 80%;
    }
    .project .project-information {
        font-size: 1.4rem;
    }
    .project {
        padding: 1.875em;
    }
    .section-portafolio .portafolio-title {
        font-size: 2.5rem;
    }
    .section-experience {
        padding: 0 26px 16px;
    }
    .section-contactos {
        font-size: 1.4rem;
    }
    .footer {
        font-size: 1.4rem;
    }
    .section-main-container {
        position: relative;
    }
    .section-main-container .developer-image img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        object-position: 0 20%;
        opacity: .4;
    }
    .section-main .about-me {
        z-index: 100;
        padding: 20px 12px;
    }
    .section-main .about-me p {
        font-size: 3rem;
    }
}

@media (max-width:767px) {
    /* .nav-container {
        display: block; funciona para que baje
    } */
    /*menu burger*/
    .nav-main {
        flex-direction: column;
    }
    .nav-container {
        position: fixed;
        background-color: rgb(27, 33, 39, .9);
        top: 0;
        left: -100vw;
        /* bottom: 0; */
        /*para estirar el contenido a la parte de abajo*/
        z-index: 150;
        width: 100vw;
        transition: .3s;
        /* Para crear efecto de transición */
        height: 100vh;
    }
    .nav-main li {
        font-size: 2rem;
        margin-left: 0;
        padding: 18px 12px;
    }
    .nav-main li a {
        font-size: 2.8rem;
        letter-spacing: 2px;
        font-weight: bold;
    }
    header .nav-main li a.link-button-contact {
        border: none;
    }
    .nav-container.nav-is-active {
        left: 0;
    }
    /*menu burger*/
    .burger-button {
        display: block;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header>* {
        margin-bottom: 12px;
    }
    /*section main*/
    .section-main {
        height: auto;
    }
    .section-main .about-me p {
        font-size: 2.2rem;
    }
    /* .section-main-container .developer-image img {
        position: absolute;
    } */
    .project .project-information {
        font-size: 1.2rem;
    }
    .project {
        padding: 1.25em;
    }
    .section-portafolio {
        padding: 0 40px 16px;
    }
    .section-portafolio .portafolio-title,
    .section-experience .title-experience {
        font-size: 2rem;
        text-align: center;
    }
    .section-experience article {
        width: auto;
    }
    .section-experience .event-image-container img {
        object-position: bottom;
    }
    .section-experience .event .event-information {
        padding: 18px;
    }
    .section-experience .event-information .event-url {
        font-size: 1.8rem;
    }
    .section-contactos .form-email,
    .section-contactos .social-networks {
        width: 100%;
        text-align: center;
    }
    .form-email .button-form {
        margin: 0 auto;
    }
    /* .section-contactos .social-networks .social-media {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    } */
    .section-contactos {
        font-size: 1.2rem;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        font-size: 1.3rem;
    }
    .footer .footer-autor p,
    .footer .footer-course p {
        padding: 12px 16px;
    }
    .section-main-container .developer-image {
        width: initial;
    }
    .project .project-description {
        font-size: 1.6em;
    }
}

@media (max-width:480px) {
    .nav-main {
        flex-direction: column;
    }
    .nav-main li {
        margin-left: 0;
        margin-bottom: 16px;
    }
    .project .project-information {
        font-size: 13px;
    }
    .project .project-information {
        font-size: 1rem;
    }
    .project {
        padding: 1em;
    }
    .section-portafolio {
        padding: 0 20px 12px;
    }
    .section-portafolio .portafolio-title {
        font-size: 1.8rem;
    }
    .section-experience {
        padding: 0 16px 12px;
    }
    .section-experience .event .event-information {
        width: 90%;
    }
    .section-experience .event-information .event-url {
        font-size: 1.6rem;
    }
    .section-contactos {
        font-size: 1rem;
    }
    .footer .footer-course {
        flex-direction: column;
    }
    .section-main .about-me p {
        font-size: 2.6rem;
    }
    .nav-main li a {
        font-size: 2.3rem;
    }
}

@media (max-width:320px) {
    .project .project-information {
        font-size: .8rem;
    }
    .section-portafolio .portafolio-title {
        font-size: 1.4rem;
    }
    .section-experience .event .event-information {
        bottom: 40px;
    }
    .section-main .about-me p {
        font-size: 1.4rem;
    }
}